#contenido_sprint1{
  display: none;
}
#contenido_sprint2{
  display: block;
}
#contenido_sprint3{
  display: none;
}
#boton_enviar{
	display: block;
}
#div_logo{
	text-align: center;
}
header{
	text-align: right;
}
